# dependencies
/node_modules

# testing
/coverage

# build
/dist

# etc
.DS_Store
.env.local
.env.*.local
.env
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json

/dict-data/**
!/dict-data/zip
!/dict-data/zip/**
!/dict-data/dict-metadata.json
!/dict-data/dict-metadata.jsonp

/dist-zip